header{
  background-color: #b71c1c;
  color: black;
  padding: 5px 0;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

footer{
  background-color: #101010;
  color: white;
  padding: 15px 0;
  text-align: left;
  font-size: 0.9em;
  border-top: 1px solid #ccc;
}