<html>
	<head>
		<title>Accounts</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

	</head>
	<body>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<div>{{messages[0]}}</div>
			{% endif %}
		{% endwith %}
		<a href= "/">
			<button type="button">Home</button>
		</a>
		<h1>Accounts</h1>
		<table>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Type</th>
			</tr>
			{% for item in accounts %}
			<tr>
				<td>{{item[0]}}</td>
				<td>{{item[1]}}</td>
				<td>{{item[2]}}</td>
			</tr>
			{% endfor%}
		</table>
		<!-- Same page, needs to be made into a pop up later -->
		<h2>Add new account</h2>

		<form action="/add-acc" method= "POST">
			<input id=account name="account" type="text" placeholder="acount" required> 
			<input id="type" name="type" type="text" placeholder="type" required>
			<button type="submit">Save</button>
		</form>
	</body>
</html>