<html>
	<head>
		<title>Accounts & expenses</title>
	</head>
	<body>

		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<div> {{ messages[0] }} </div>
			{% endif %}
		{% endwith %}
		<form method="POST" action="/add">
			<input id="date" type="date" name="date" placeholder="date" required>
			<input id="amount" type="number" name="amount" step="0.01" placeholder="Amount" required>
			<input id="category" type="text" name="category" placeholder="Category" required>
			<input id="notes" type="text" name="notes" placeholder="Notes">
			<button type="submit">Add</button>
		</form>
		<a href= "/">
			<button type="button">Home</button>
		</a>
	</body>

</html>