<html>
	<head>
		<title>Add transaction</title>
	</head>
	<body>
		<a href= "/">
			<button type="button">Home</button>
		</a>
		<!-- Page is to be replaced with a pop up entry field in transactions page  -->
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<div> {{ messages[0] }} </div>
			{% endif %}
		{% endwith %}
		<form method="POST" action="/add">
			<input id="date" type="date" name="date" placeholder="date" required>
			<input id="amount" type="number" name="amount" step="0.01" placeholder="Amount" required>
			<!-- Drop down menu for category -->
			<select name="category" id="category">
			{% for item in category %}
				<option value="{{item}}">{{item}}</option>
			{% endfor %}
			</select>
			<input id="notes" type="text" name="notes" placeholder="Notes">
			<button type="submit">Add</button>
		</form>
	</body>

</html>