<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}{% endblock %}
</head>
<body>
	<!-- Header -->
    <header>
        <h1>My Expense Tracker</h1>
    </header>

    <!-- Page content -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2025 Cheque-Check. All rights reserved.</p>
        <p> Developed by: Rohit Kumar Vadlamudi</p>
        <p>       Contact: rohitkumarvadlamudi@gmail.com</p>
    </footer>

</body>
</html>
