{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
	<div class="dashboard-container">
  		<div class="top-row">
    		<div class="block income-expense">
      			<h2>Monthly Income & Expenditure</h2>
    		</div>
    		<div class="block pie-chart">
      			<h2>Spending Categories (Pie Chart)</h2>
    		</div>
  		</div>
  		<div class="bottom-row">
    		<div class="block monthly-spending-graph">
      			<h2>Monthly Spending Graph</h2>
    		</div>
  		</div>
	</div>
{% endblock %}

{% block content %}

{% endblock %}