<html>
	<head>
		<title>Home page </title>
	</head>
	<body>
		<a href= "/accounts-expenses">
			<button type="button">Add transaction</button>
		</a>
		<form method="GET" action="/">
			<label for="month"></label>
			<select name="month" id="month">
				{% for item in month %}
				<option value="{{item}}" {% if item == request.args.get('month') %}selected{% endif %}>{{item}}</option>
				{% endfor %}
			</select>
			<label for="year"></label>
			<select name="year" id="year">
				{% for item in year %}
				<option value="{{item}}" {% if item == request.args.get('year') %}selected{% endif %}>{{item}}</option>
				{% endfor %}
			</select>
			<button type="submit">Search</button>
		</form>
		<h1>List of transactions</h1>
		<table>
			<tr>
				<th>ID</th>
				<th>Date</th>
				<th>Amount</th>
				<th>Category</th>
				<th>Notes</th>
			</tr>
			{% for items in expenses %}
			<tr>
				<td>{{items[0]}}</td>
				<td>{{items[1]}}</td>
				<td>{{items[2]}}</td>
				<td>{{items[3]}}</td>
				<td>{{items[4]}}</td>
			</tr>
			{% endfor %}
		</table>
	</body>
</html>